select{
    border: 1px solid black;
    background: none;
    color: chocolate;
}
.remove-btn{
    background: none;
    border: none;
    color: chocolate;
}
.productdetails{
    display: flex;
    
}
.product-info{
    display: flex;
}
@media (max-width:768px) {
    .product-info{
        display: block;
    }
}